
.blog__area{
  
}
.blog__container{

  display:grid;
  position:relative;
  grid-template-columns: repeat(2, 47%);
  justify-content:center;
  width:100%;
  top:20px;
  margin-buttom:150px;
  }
  .blog__img {
    border-radius:10px;
    position:relative;
    max-width:52vh;
    max-height:34vh;
  }
  

  @media screen and (max-width: 1000px) {
  .blog__container{
    grid-template-columns: repeat(1, 100%);
    display:grid;
    position:absolute;
    margin-top:40px;
    top:3378px;
    justify-content:center;
    height:160vh;
    max-width:100%;
    padding :40px;
    margin-buttom:150px;
    }
    .blog__img {
      border-radius:10px;
      position:relative;
      width:80% !important;
    }
  }
  .blog__card{
    display:grid;
    position:relative;
    top:10%;
    justify-content:center;
  }
.blog__box{
  grid-template-columns: repeat(2, 50%);
  display:flex;
  width: 300px;
  justify-content:center;
  align-items:center;
}
.blog__headline h1{
  box-sizing: border-box;
  display: block;font-family: "Helveticaneueltpro lt", Arial, sans-serif;
  font-size: 20px;
  padding:20px;
  max-width:143px;
  font-style: italic;
  font-weight: 300;
}
.blog__title h1{
  box-sizing: border-box;
  border-box*color: rgb(255, 255, 255);
  display: block;font-family: "Helveticaneueltpro lt", Arial, sans-serif;
  font-size: 20px;
  padding:20px;
  max-width:143px;
  font-style: italic;
  font-weight: 300;
}
.blog__description h1{
  font-weight: 100;
  position: relative;
  font-family:"Helveticaneueltpro lt", Arial, sans-serif;
  font-size:16px;
  max-width:130px;
  color:#61C0BF;
  transition:.2s;
  display:block;
}
.blog__title h1:hover{
  color:#FF2E63;
  font-weight: 800;
  transition:.2s;
}
.blog__description h1:hover{
  color:#FF2E63;
  font-weight:900;
  transition:2.0s;
}