
.place__container{
  position:relative;
  display:grid;
  height:100px;
  width:100%;
  background-color: rgba(0,0,0,0);
}
.place__heading h1{
  width:100%;
  position:relative;
  top:50px;
  left:3%;
  font-size: 190px;
  color:#FFFFFF;
  opacity:0.5;
  display:flex;
  font-style:italic;
  font-weight: 100;
}
.place__title h1{
  width:100%;
  position:relative;
  max-width:500px;
  padding:10px;
  top:35px;
  left:2%;
  font-size:50px;
  color:#FFFFFF;
  opacity:0.5;
  display:flex;
  font-style:italic;
  font-weight: 200;
}
.place__description h1{
  width:100%;
  max-width:600px;
  min-width:300px;
  font-weight: 100;
  display:flex;
  position:relative;
  left:0.5%;
  top:35px;
  font-size:16px;
  color:#FFFFFF;
  opacity:0.5;
}

.place__img-big {
    position:relative;
    top:-170px;
    border-radius:200px;
    
    }
    .place__box {
      position:relative;
      width:100%;
      padding:30px;
      grid-template-columns: repeat(2, 50%);
      }
    .image{
      position:relative;
      left:70%;
      max-width:350px;
      border-radius:200px;
      display:grid;
      width: 320px;
      padding:5px;
      background-color: rgba(255,255,255,0.3);
      border:1px solid #191919;
    }


    @media screen and ( max-width: 1000px ){
      .place__box {
        position:relative;
        width:100%;
        padding:30px;
        grid-template-columns: repeat(2, 50%);
        }
        .image{
          position:relative;
      left:25%;
      top:100px;
      max-width:350px;
      border-radius:200px;
      display:grid;
      width: 320px;
      padding:5px;
      background-color: rgba(255,255,255,0.3);
      border:1px solid #191919;
        }
        .place__description h1{
          width:100%;
          max-width:600px;
          min-width:300px;
          font-weight: 100;
          display:flex;
          position:relative;
          top:390px;
          padding-left:33px;
          padding-right:35px;
          font-size:16px;
          color:#FFFFFF;
          opacity:0.5;
        }
        .place__title h1{
          width:100%;
          position:relative;
          max-width:500px;
          padding:10px;
          top:35px;
          left:2%;
          font-size:20px;
          color:#FFFFFF;
          opacity:0.5;
          display:flex;
          font-style:italic;
          font-weight: 200;
        }
        .place__heading h1{
          width:100%;
          position:relative;
          top:10px;
          left:4%;
          font-size: 45px;
          color:#FFFFFF;
          opacity:0.5;
          display:flex;
          font-style:italic;
          font-weight: 100;
        }
      
      
    }
    .place__subtitle{
      animation-direction: normal;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: rotate;
      animation-play-state: running;
      animation-timing-function: linear;
      background-image: url("./assets/images/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      color: rgb(255, 255, 255);
      display: block;
      filter: blur(0px);
      font-size: 20px;
      height: 230px;
      line-height: 11.5px;
      opacity: 1;
      pointer-events: cursor;
      position: absolute;
      right: 2%;
      top:74%;
      transition-delay: 0s;
      transition-duration: 1s;
      transition-property: all;
      transition-timing-function: linear;
      width: 150px;
      -webkit-font-smoothing: antialiased;
      -webkit-user-select: none;
    }